<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo App</title>
    <link rel="stylesheet" href="dist/styles/styles.css">
</head>
<body>
<div id="app" class="app">
    <div class="app__header">
        <h1>ToDo App</h1>
    </div>
    <router-view></router-view>
</div>

<template id="todos">
    <div>
        <div class="new-todo">
            <div class="new-todo__input">
                <input type="text" class="new-todo__input-field" v-model="newTodo"
                       placeholder="type what you need to do"
                       @keyup.enter="addTodo()">
                <div class="input-group-button">
                    <button class="button new-todo__input-action" @click="addTodo()">save</button>
                </div>
            </div>
        </div>
        <div class="filters">
            <div class="filters__filter">
                <div class="button-group">
                    <div class="button-group">
                        <a class="button" :class="{success: !$route.params.show}" v-link="{path: '/'}">All</a>
                        <a class="button" :class="{success: $route.params.show == 'new'}" v-link="{path: '/new'}">New</a>
                        <a class="button" :class="{success: $route.params.show == 'completed'}" v-link="{path: '/completed'}">Completed</a>
                    </div>
                </div>
            </div>
            <div class="filters__sort">
                Sort by:
                <div class="button-group">
                    <button class="button" @click="sortBy('title')"
                            :class="[sortOrders['title'] > 0 ? 'asc' : 'dsc', {success: sortKey == 'title'}]"
                    >Title</button>
                    <button class="button" @click="sortBy('create')"
                            :class="[sortOrders['create'] > 0 ? 'asc' : 'dsc', {success: sortKey == 'create'}]"
                    >Create</button>
                </div>
            </div>
        </div>
        <div class="todos">
            <div class="todos__item" v-for="todo in showedTodos | orderBy sortKey sortOrders[sortKey]">
                <todo :title.sync="todo.title" :completed.sync="todo.completed" @remove="removeTodo(todo)"></todo>
            </div>
        </div>
        <div class="callout">
            * double click on title for edit todo
        </div>
    </div>
</template>

<template id="todo">
    <div class="todo"
         :class="{
        'is-completed': completed,
        'is-edited': edited
    }">
        <div class="todo__complete-action">
            <input type="checkbox" v-model="completed">
        </div>
        <div class="todo__title" @dblclick="edit()">{{title}}</div>
        <div class="todo__remove">
            <button @click="$emit('remove')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="todo__input">
            <input type="text" class="todo__input-field" v-model="title"
                   @keyup.enter="save()" @blur="save()" @keyup.esc="cancelEdit()">
        </div>
    </div>
</template>
<script src="/dist/js/main.js"></script>
</body>
</html>